/* Scroll bars mod */
html::-webkit-scrollbar {
    width: 10px;
    background-color: #A9ABA8;
}

html::-webkit-scrollbar-thumb {
    background-color: #3B3B3B;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Century Gothic";
    margin: 0;
    background-color: #CBCCC7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}


.profile-section1{
    margin: 8svh auto 0 0;

    width: 60%;
    display: flex;
    flex-direction: column;

    height: fit-content;
    padding: 0 40px;
}

.blog-profile-title{
    width: 100%;

}

.blog-profile-title p{
    font-size: 38px;
    font-weight: bold;
    margin: 0%;
}

.blog-profile-title span{
    font-size: 15px;
    margin: 0%;
    margin-top: 20px;
}

.blog-profile-details{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.blog-profile-details p, label{
    font-size:20px;
    margin: 20px 0;
    cursor: pointer;
    user-select: none;
}

.blog-profile-details label{
    background-color:#4D4D4D;
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
}

.blog-profile-details label:hover{
    background-color: #3d3d3d;
}


.profile-gap{
    width: 100%;
    height: 4px;
    background-color: #202020;

}

.profile-section2{
    margin: 3svh 40px 0 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    height: 33vw;
    overflow: hidden;
    position: relative;
}

.expand{
    bottom: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Century Gothic";
    font-size: 17px;
    backdrop-filter: blur(1px); 
    background-color: rgba(120, 120, 120, 0.5);
    box-shadow: 0 -10px 20px rgba(120, 120, 120, 0.611); 
}

.expand:hover{
    color: white;
    background-color: rgba(92, 90, 90, 0.5);
    box-shadow: 0 -10px 20px rgba(92, 90, 90, 0.611); 
}

.profile-image-container{
    width: 99%;
    border-radius: 15px;
    background-color: #3a3737;
    height: 25svw;
    border: 2px solid #202020;
}

.profile-image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.profile-contents{
    align-self: start;
    width: 100%;
}

.profile-contents p{
    margin: 20px 0;
}

.profile-section3{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: fit-content;
    padding: 0 40px;
}

.reco-title{
    padding: 10px 20px;
}

.reco-title p{
    font-size: 25px;
    font-weight: bold;
    margin: 0%;
}

.reco-blogs{
    width: auto;
    padding: 0 40px 40px 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reco-blogs a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.reco-blogs a:hover{
    text-decoration: underline;
    /* font-weight: bold; */
}

.menu {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.menu button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 0;
    padding: 0;
}

.menu button img {
    width: 40px;
    margin: 20% 0 20% 0;
    cursor: pointer;
}

.menu button:hover img {
    filter: brightness(80%);
}

.sidebar {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.434);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1001;
    visibility: hidden;
    display: flex;
}
.rest{
    width: 85%;
    height: 100%;
}

.open-menu{
    visibility: visible;
}

.sidebar-con {
    width: 15%;
    height: 100%;
    left: 0;
    transform: translate(-100%);
    background-color: #3B3B3B;
    transition: transform 0.5s, left 0.5s ease-in-out;
}

.open-burger {
    visibility: visible;
    left: 0;
    transform:translate(0);
} 

.close-burger {
    left: 0;
    transform:translate(-100%);
} 

.sidebar-con .top-con {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-con img {
    width: 70%;
    height: auto;
}

.sidebar-con .bottom-con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bottom-con a {
    width: 100%;
    height: 60px;
    text-decoration: none;
    color: white;
    font-size:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom-con a:hover {
    background-color: #4D4D4D;
}

.navigation{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    
}

.navigation p{
    margin: 0%;
}

.navigation .nav-title{
    text-decoration: none;
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.navigation a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navigation a:hover{
    text-decoration: underline;
}

#like-btn{
    visibility: hidden;
    user-select: none;
}

.admin-top{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 2.5%;
}

.admin-top a{
    font-size: 20px;
    color:#141414;
    cursor: pointer;
    transition: scale 0.3s ease;
    text-decoration: none;
}

.admin-top a:hover{
    color: rgb(0, 0, 0);
    scale: 1.1;
}


@media only screen and (max-width: 1200px) {
    .profile-section1, .profile-section2, .profile-section3{
        width: 90%;
        padding: 0%;
    }
    .profile-section1{
        margin-right: 0;
    }
    body{
        align-items: center;
    }
    .profile-image-container{
        height: 40vw;
    }
    .profile-section2{
        height: 52vw;
    }
    .admin-top{
        width: 90%;
        padding: 0 5%;
    }
}

@media only screen and (max-width: 1050px) {
    .blog-container {
        width: 90%;
    }
    .sidebar-con{
        width: 20%;
    }
    .rest{
        width: 80%;
    }
}

@media only screen and (max-width: 950px) {
    .blog-container {
        width: 90%;
    }
    .sidebar-con{
        width: 30%;
    }
    .rest{
        width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    .blog-info-top .blog-title {
        font-size: 28.2px;
    }

    .contents {
        font-size: 13px;
    }
    .sidebar-con{
        width: 55%;
    }
    .bottom-con a {
        font-size: 15px;
    }
    .section1 {
        height: 200px;
    }

    .blog-info-top .blog-title {
        font-size: 20px;
    }

    .blog-info-bottom p {
        font-size: 10px;
    }
    .blog-profile-title p {
        font-size: 25px;
    }
    .blog-profile-details p, label{
        font-size: 15px;
    }
    .blog-profile-title span{
        font-size: 12px;
    }
    .profile-image-container{
        height: 60vw;
    }
    .reco-title{
        padding: 10px 0;
    }
    .reco-title p{
        font-size: 20px;
    }
    .reco-blogs a{
        font-size: 15px;
    }
    .reco-blogs{
        padding: 0 20px 40px 20px;
    }
    .profile-section2{
        height: 80vw;
    }
    .expand{
        font-size: 14px;
    }
}

@media only screen and (max-width: 450px) {
    .bottom-con a {
        font-size: 12px;
    }
    .sidebar-con{
        width: 75%;
    }
    .profile-section2{
        height: 90vw;
    }
}
