/* Scroll bars mod */
html::-webkit-scrollbar {
    width: 10px;
    background-color: #A9ABA8;
}

html::-webkit-scrollbar-thumb {
    background-color: #3B3B3B;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Century Gothic";
    margin: 0;
    background-color: #A9ABA8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.create-container {
    width: 90%;
    height: fit-content;
    padding: 2.5% 0 2.5% 0;
    background-color: #E0E0D5;
    border-radius: 1%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow: auto;
}

.gap {
    height: 450px;
    width: 0.3%;
    background-color: #3B3B3B;
    border-radius: 1rem;
}

.left-panel {
    width: 29.85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.logo-img img {
    width: 30px;
    height: auto;
    margin: 0;
}

.title-heading p {
    font-size: 37.7px;
    margin: 0;
    margin-bottom: 30px;
}

.right-panel {
    width: 69.85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 2.5% 0 2.5%;
}

.form-con {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-con form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.form-con form .form-head {
    font-size: 17px;
    margin: 0;
    margin-top: 25px;
    color: #3B3B3B;
}

.form-con form .form-input {
    width: auto;
    height: 35px;
    border: none;
    border-radius: 17px;
    border: 2px solid #3B3B3B;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    color: #3B3B3B;
    font-family: "Century Gothic";
}

.form-con form .form-label-upload {
    background-color: #A9ABA8;
    width: auto;
    height: 160px;
    border-radius:5px;
    border: 2px solid #3B3B3B;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Century Gothic";
    cursor: pointer;
    margin-top: 5px;
    overflow: hidden;
}

.form-con form .form-label-upload:hover {
    background-color: #848484;
}

.form-label-upload p{
    z-index: 100;
    margin: 0;
    position: absolute;
    font-size: 40px;
}

.form-con form .form-label-upload:hover p{
    color: white !important;
}


.form-label-upload img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter 0.3s ease;
}

.form-label-upload img:hover{
    filter: brightness(60%);
}

input[type="file"] {
    display: none;
}

.right-panel .submit-btn {
    background-color: #B8AB90;
    width: 55%;
    height: 35px;
    outline: none;
    border-radius: 17px;
    border: 2px solid #3B3B3B;
    margin: 20px auto 0 auto;
    display: block;
    font-family: "Century Gothic";
}

.right-panel .submit-btn:hover {
    background-color: #8f8571;
    cursor: pointer;
}

.right-head {
    width: 90%;
    font-size: 17px;
    margin: 0;
    margin-top: 25px;
    padding-bottom: 5px;
    color: #3B3B3B;
}

.tox-tinymce {
    border: 2px solid #3B3B3B;
}

.go-back{
    font-size: 15px;
    color: #3B3B3B;
    margin: 10px 0 0 0;
    text-decoration: none;
}

.go-back:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 1250px) {
    .title-heading p {
        font-size: 27.7px;
    }
}



@media only screen and (max-width: 1100px) {
    .create-container {
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 90%;
        padding: 5% 0 5% 0;
    }
    .gap{
        display: none;
    }
    .left-panel{
        width: 100%;
    }
    .right-panel{
        width: 100%;
        padding: 0;
    }
    .form-con{
        width: 90%;
    }
    .form-con form .form-label-upload {
        width: 50%;
        height: 200px;
        align-self: center;
    }
}

@media only screen and (max-width: 700px) {
    .form-con form .form-label-upload {
        width: 65%;
    }
}

@media only screen and (max-width:500px) {
    .form-con form .form-label-upload {
        width: 80%;
    }
}

@media only screen and (max-width:400px) {
    .form-con form .form-label-upload {
        width: 90%;
    }
}

@media only screen and (max-width: 300px) {
    .title-heading p {
        font-size: 25px;
    }
}
